/*============== [Account Settings]*/
.acct-settings{
  h2{
  font-size:24px;
  }
.employeeHistory .row{
 margin-right:1px;   
 margin-top:-15px; 
  .row  p.form-control.ng-binding{
    font-size:12px;
  }
}
  h1,h2,h3,h4,h5{
    font-family:'Century Gothic W01';
  }

  color:#000;
  padding-bottom: 50px;
  position: relative;

//hide checkmarks
  input[type=checkbox] {

  }

//custom checkbox
  input[type="checkbox"]{
    right: 0;
    display:inline-block;
    width:16px;
    height:19px;
    vertical-align: middle;
    margin:-1px 4px 0 0;
    background: url(../images/assets/checkboxs.jpg)  left top no-repeat;
    cursor: pointer;
  }
  input[type="checkbox"]:checked{
    width: 21px;
    background: url(../images/assets/checkboxs.jpg)   -18px top no-repeat;
  }
  .verification-center p#oneTime {font-size:14px; margin-top:-15px;} 

  .completed {
    background: url(../images/assets/account-settings/green-check-mark.jpg) left top no-repeat;
  }
  .incomplete{
    background: url(../images/assets/account-settings/incomplete-check-mark.jpg) left top no-repeat;
  }

  .not-verifed{
    background: url(../images/assets/account-settings/not-verified.jpg) left top no-repeat;
    height: 28px;
    padding-left: 30px !important;
  }
  .pending-verified{
    background: url(../images/assets/account-settings/pending-verified.jpg) left top no-repeat;
  }
  /*.verified{
    background: url(../images/assets/account-settings/incomplete-check-mark.jpg) left top no-repeat;
  }*/

  /*notifications tab*/
    .notification-setting{
      margin-bottom: 40px;
      font-size: 20px;
      .btn-group{
        margin-top: 20px;
      }

      .btn{
        border-radius: 12px;
        padding: 6px 33px;

        &:first-child{
          border-left: none;
        }
      }

      .btn-default{
        background-color:#c6c6c6;
        color: #fff;
        border-color: #dddddd;
        border-right: none;
        border-top:none;
        border-bottom: none;

        &:hover,
        &:focus,
        &.active{
          background-color: #4397d3;
        }
      }
      table{
        margin-top: 30px;
        th:only-child{
          text-align: center;
        }
        td{
          padding: 30px 0;
            text-align: left;
        }
      }
    }

    //password reset tab

    .passwordReset{
      form{
        margin-left:50px;
        .row{
          background: #e5e5e5;
          padding: 30px 0;
          margin-top: 30px;
        }
      }

    }

    //support tab
    .support{
      form{
        textarea{
          height: 130px !important;
        }
      }
    }

  .cancel{
    a.styled{
      color: #6ca2d1;
      text-decoration: underline;
    }
  }

  .users{
    .btn-additional-contact{
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .relative-top{
    position: relative;
    
    text-center{
    	margin: 20px 0 70px 0;
    }
  }

  /*verification center*/
  #gettingstartedModal img{
  max-width:530px;
}
.verification-center {
    img.lady {
        width:20%;
    margin-left: -17px;
    float: left;
    }
  .price-info {
  position: absolute;
  top: 0;
  right: 0;
    span {
    color: #4192d7;
    margin-left: 11px;
    display: inline-block;
    position: relative;
    bottom: -9px;
    margin-top: 9px;
    }
    p {
    font-size: 30px;
    margin-right: 105px;
    line-height: 30px;
    }
    p sup {
    top: -3px;
    }
    }
    .list {
    margin-left: 175px;
    margin-top: 85px;
      h4 {
      margin-bottom: 35px;
      position: relative;
      left: -45px;
      } 
      strong {
      background: url(../images/assets/verification/arrow.png) left center no-repeat;
      padding-left: 25px;
      margin-bottom: 10px;
      display: inline-block;
      }
      p {
      margin-left: 30px;
      margin-bottom: 15px;
      }
      a {
      text-decoration: underline;
      }
      a.btn {
      text-decoration: none;
      margin-top: 10px;
      }
      ul {
      padding-left: 45px;
      list-style: none;
      }
    }
  }

.verification-form + div .price-info {
  position: static;
  margin-left: 45%;
}

.verification-form + div .price-info p {
  margin-right: 0;
}

.verification-center .price-info > img {
  float: right;
}


/* Verification pay page */

.verification-form {
  background: #fff;
  padding: 7px;
  position: relative;
  margin-top: 90px;
    img.img-man {
    position: absolute;
    top: -129px;
    right: 0
    }
    h4 {
    background: #3b94ce;
    color: #fff;
    padding: 11px;
    margin: 0 0 10px 0;
    max-height: 41px;
    }
    .card-type {
    margin-top: 10px;
    margin-bottom: 10px;
      input[type="radio"] {
      margin-top: 0;
      vertical-align: middle;
      } 
    }
  }

.price-info-container {
  margin-top: 36px;
}

.get-started-btn {
  margin-top: 60px;
    .btn-orange {
    padding: 7px 25px;
    display: inline-block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
    }
  }

img.gurantee {
  margin-top: -16px;
  float: right;
}

.testimonial {
  margin-top: 20px;
}

.image-container {
  background: #3a3d42;
  padding: 10px 0;
  margin-top: 20px;
    .image-content {
  margin-left: -10px;
  margin-right: -10px;
  }
}

//verification download
#verifyDownload{
  .content-right{
    padding: 0 40px;
  }
  h1{
    margin-bottom: 64px;
  }
  //
  .text-center{
    p{
      margin-bottom: 20px;
    }
  }
     .thumbnail{
      border:none;
      border-radius:0;
      padding:34px 0 5px 0;
      margin-bottom:10px;
      background-color:#fff;
      
    } 

    .btn{
    background-color: #3c89cd;
    padding: 10px 12px;
    height: auto;
  }
}

/*verification support*/


#verifySupport {
  .content-right{
  padding: 0 70px;
  }
  #accordion{
    .panel{
    border-radius:0;
    }
    .panel-default{
    border:none;
      a:hover{
      text-decoration:none;
      }
    }
    .panel-heading{
    border-color:transparent;
    background-color:#e4e4e4;
    border-top-right-radius:0;
    border-top-left-radius:0;
    text-align:center;
    color:#676767;
    padding:25px 15px;
      .panel-title{
      font-size:12px;
      }
    }
  }
  .divider-line{
  height: 2px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d6d6d6;
  margin:40px 0 50px 0;
  }
}

/*verification question*/
#verifySupport {
  .verify-contact{
  max-width: 514px;
  width: 100%;
    h3{
    margin-bottom:35px;
    font-size: 18px;
    }
  }
}
@media(max-width:992px){
  .verification-center {
    p#oneTime {
    font-size: 14px;
    margin-top: -15px;
    }
     h2{
    font-size:22px;
    }
    .price-info > img{
    width:30%;
    margin-top:20px;
    }
  }
}
@media(max-width:768px){
    #verifyCenter {
      margin-left:0%;
    }
}

@media(max-width:767px){
    #verifyCenter .verification-center {
      .price-info p {
      position: absolute;
      top: 35px;
      right: -20px;
      }
       .price-info > img {
      width: 50%;
      }
       #oneTime {
      font-size: 12px;
      position: absolute;
      width: 100%;
      top: 75px;
      right: -75px;
      }
    }
}
  @media (min-wdith:767px) and (max-width:1900px){
    #verifySupport{
      .verify-contact{
        h3{
        margin-left: -15px;
        }
        p{
        margin-bottom:15px;
        font-size: 15px;
        }
      }
    #verifySupport .content-right h1{
      margin-left: -35px;
      margin-bottom: 40px;
    }
  }
}

#verifySupport {
  .verify-contact{
    form{
    margin-bottom:18px;
    }
    textarea{
    height:120px;
    border:none;
    border-radius:0;
    resize:none;
    }
    .btn{
    border-radius:0;
    font-size:18px;
    padding:10px 40px;
    background-color:#f39428;
    border:none;
    }
    .btn-warning:hover, .btn-warning:focus{
    border:none;
    background-color:#f28d1b;
    }
  }
}


  .navbar-toggle {
display:none;
      .icon-bar {
      background: #fff;
      }
}
  .progress-info {
    font-weight: 300;
    color: #448ad0;
    margin-top: 12px;
  }

  .profile-items {
    margin-top: 15px;
    float: right;
      li {
      padding: 0 20px;
      }

      li:last-child {
      padding-right: 0;
      }

      a {
      color: #333;
      }
      a:hover {
      text-decoration: none;
      }
    }

  .sidebar {
    padding-right: 0;
    padding-left: 0;
      .nav {
        a {
        color: #333;
        font-weight: 600;
        }
        li a {
        line-height: 39px;
        margin: 0;
        }
        li.active a {
        background: #f0f0f0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        color: #333;
        }
        li.verifyChild {
        padding-left: 20px;
        }
        li.active a:after {
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background: #f0f0f0;
        position: absolute;
        right: -21px;
        top: 8px;
        z-index: 9;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        }
      }
    }
  .sidebar{
    .nav{
      li{
        a{
          &:hover{
            border-radius: 0;
          }
        }
      }
    }
  }

  .content-right {
    background: #f0f0f0;
    min-height: 900px;
  }

  .content-right > .contact-info > form {
    padding: 0 75px 0 0px;
  }
  
  //mange organization styles
  #businessOrganization{

  .col-sm-12{
  margin-top: -16px;
  }
   .col-sm-3 .form-control{
  width: 140px;
  border: 1px solid #e1e1e1;
  padding-top: 10px;
  margin-right: 0px;
  height: 41px;
  }
  .col-sm-5 .form-control{
  height: 41px;
  min-width:200px; 
  border: 1px solid #e1e1e1;
  padding-top: 10px;
  margin-left: -5px;
  }
   .col-xs-2 .form-control {
  font-weight:bolder;  
  text-align:center;
  padding-top:10px; 
  height: 41px;
  width:100px; 
  border: 1px solid #e1e1e1;
  margin-left: -5px;
  } 
    p {
  height: 45px;
  font-size: 12px;
  }
  strong{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 999;
  color: #555555;
  }
  .row {
   margin-top:0px;
  }
   .employeeHistory{
    .row{
   margin-right:1px;   
   margin-top:-25px; 
      p.form-control.ng-binding{
       font-size:12px;
      background-color:transparent; 
      border:none;
      box-shadow:none; 
      } 
    }
  }
  	  .col-xs-12 {
   	 		padding:0;
 	 }
 	 .glyphicon-trash{
    cursor:pointer;
    }
      label#username-label.control-label {
      position:relative; 
      left:-80px;
      top:-15px;
  }
    label#email-label.control-label {
    position:relative; 
    top:-15px;
    left:-90px;
  }
     label.control-label strong {
      color:black; 
      margin-left:15px; 
      font-size:12px;
      color: black;
      margin-left: 15px;
      font-size: 12px;
      display:none;
      visibility:hidden;
    }
 	 .user-content{
 	 	.text-pending{
  cursor: default;
  color:#4BA5DA;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top:-30px;
  font-weight: 500;
    visibility:hidden;
  display:none; 
 	 	}
	 	 	 	 
	 	 label{
  color: #000;
  margin-left: 15%;
  float: left;
  margin-bottom: 10px;
  font-size: 12px;
  cursor: default;
	 	 }
 	 }  	
  	 .relative-top{
      margin-bottom: 40px;
        .btn-default{
        padding:4px 10px 10px 10px;
        margin:0px 1.5px; 
        .glyphicon-plus {
          color: #000; 
          font-size:7px; 
          width:1px;  
          font-weight:normal; 
        }
      }
        a.btn-default strong { 
        color:#000;  
        font-weight:bolder;
        font-size:1em;
        vertical-align:middle;
      }
  	 	h2{
  	 		margin-bottom:30px;
  	 	}
  	 }
  	.content-right > .contact-info > form{
  	 padding: 0 10px 0  0px;
       margin-top:-30px; 
  }

	.manage-actions{
		margin-top: -20px;
		.col-sm-2.row{
			margin-left:1px;
		}
				  
		.btn-reject, .btn-edit, .btn-approve{
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  height: 41px;
  width: 100%;
  padding: 2px;
  border:none;
		}
		
		.btn-reject{
		  background-color: #b6b6b6;
      margin-left:15px;
		}
		.btn-edit {
          background-color: transparent;
          color: #3C8ACC;
          font-weight: bold;
      }
		.btn-approve{
			  background-color: #31d624;
		}
		  	
	}  
	
	.current-users{
		.item-delete{
			right:0;
		}
		.manage-actions{
			margin-top: 0;
			position: absolute;
			top: 0;
			right: 23px;
			.btn-edit{
	  background-color: #b6b6b6;
      margin-top: 1px;
      color: white;
      width: 95px;
			}
		}
	}

  } 
  .content-right {
    margin-bottom: 35px;
      .bordered-block {
        border: 1px solid #cdcdcd;
        padding: 10px 20px;
        background: #fff;
        margin-bottom: 27px;
        }
      }
  .tab-content{
    overflow: visible;
    padding-top: 0;
  }
  .logo-suggestion {
    font-size: 0;
    background: #bbbbbb;
    padding: 5px 0;
    margin-bottom: 15px;
    max-width: 290px;
      li {
      width: 50%;
      text-align: center;
      }
    }
  .upload-logo {
    background: #55a5e0;
    color: #fff;
    display: block;
    margin-top: 10px;
  }
  .upload-logo:hover {
    color: #fff;
    text-decoration: none;
  }
  .upload-logo > span {
    display: inline-block;
    background: #4089bc;
    margin-right: 20px;
  }
  .upload-logo > span {
    padding: 14px;
  }
  .upload-logo #imgfile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
  }
  .btn-orange {
    background: #f09508;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
  }

  .btn-orange:hover {
    text-decoration: none;
    color: #fff;
  }

  .form-control {
    height: 48px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 0;
  }
  
  .verification-form {
     .form-control {
      border: 1px solid #ccc;
      padding: 5px;
      height: 30px;
      }
      label {
      font-weight: 700;
      }
    }

  h2.title-devider {
    margin: 20px -105px 20px -65px;
    padding: 20px 105px 20px 65px;
    position: relative;
  }

  h2.title-devider:after {
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    border-left: 33px solid #fff;
    border-right: 33px solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  h2.title-devider:before {
    border-top: 33px solid transparent;
    border-bottom: 33px solid transparent;
    border-left: 33px solid transparent;
    border-right: 33px solid #fff;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    right: 0;
    top: 0;
  }
  label {
    font-weight: 500;
  }
  .social-field {
    margin-left: 25px;
      img {
      float: left;
      }
      .input-field {
      margin-left: 60px;
      margin-bottom: 25px;
      }
    }
  .btn-add-product {
    color: #fff;
    font-size: 16px;
    background: #55a5e0;
    display: inline-block;
    padding: 14px 20px;
  }
  .btn-add-product:hover {
    color: #fff;
    text-decoration: none;
  }
  .justify-container {
    text-align: justify;
  }

  .justify-container:after {
    content: "";
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
  }

  .justify-container * {
    display: inline-block;
  }
  .products-table {
    tbody tr td:first-child {
  width: 150px;
    font-size:12px;
  text-align: left;
    }
    tbody tr:first-child  td{
    border-top: 0;
    }
  }
  .products-table tbody tr td {
  vertical-align: middle;
  background-color: transparent;
  word-wrap: break-word;
  max-width: 100px;
    font-size:12px;
  text-align:justify;
  }
  .controls {
    width: 80px;
      .delete-icon {
      color: #333;
      }
    }
  .btn-content {
    margin-top: 40px;
    padding-left: 50px;
    margin-bottom: 35px;
    font-size: 16px;
        .btn-cancel {
        margin-top: -5px;
        cursor:pointer; 
        }
  }

/* Account settings page */

  .has-feedback .form-control-feedback {
    width: 44px !important;
    height: 44px !important;
    line-height: 44px !important;
    position: absolute !important;
    top: 26px !important;
  }

  .has-success .control-label {
    color: #333;
  }
  .fields-group > div .row {
    margin-right: -11px;
  }
  .fields-group.address-field-group {
    margin-top: -10px;
  }
  .fields-group > div:last-child .row {
    margin-right: -15px;
  }
  .fields-group > div:first-child .row {
    margin-right: -11px;
  }
  .fields-group > div .row{
    margin-left: -15px !important;
  }
  .additional-contact {
    position: relative;
  }
  .additional-contact .delete-contact {
    position: absolute;
    top: 40px;
    right: -30px;
    color: #333;
  }

  .btn-additional-contact, .btn-manage {
    background: #4b9bd8;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    &:hover{
       text-decoration: none;
    }
  }
  
  .btn-additional-contact{
    padding: 15px;
  }
  .btn-manage{
  	padding:6px 12px;
	width: 200px;
	font-size:18px;
	
	&:nth-child(2){
		margin:0 5px;
	}
	
  	span{
		font-size: 12px;
		top: -2px !important;
		left: -5px !important;
  	}
  }

  .check-list{
    position: relative;
    padding-bottom: 30px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 30px;

    &:first-of-type{
      margin-top: 30px;
    }
  }
  .checkbox{
    position:absolute;
    top: 0;
    right: 0;
  }


// Product/service account settings list
  #businessProfile{
  h4 {
  font-size:14px;
  position:absolute;
  top:0px;
  left:55px;
  }
    .bordered-title{
      font-size: 21px;
      color: #ccc;
      span{
        background: #f0f0f0;
      }
    }
  }

//manage users

  .form-group[data-type="department"],
  .form-group[data-type="location"]{
    display: none;
  }

#businessUsers{

  .container form[role="form"] {
  padding-right: 10px;
  }

  input[type="text"],input[type="password"], input[type="email"], select.form-control, .dropdown .dropdown-toggle {
  box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    height: 47px;
    line-height: 47px;
    border: 0;
  }

  .dropdown .dropdown-toggle {
  width: 100%;
    line-height: 10px;
    padding-right: 33px;

    &:hover, &:focus{
      outline: 0;
    }
    .text-danger {
    color: #fd1900;
    }
    .text-success {
    color: #25b300;
    } 
    .caret {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -2px;
    border-top: 7px solid #aaa;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    }
    .caret:after {
    content: "";
    display: block;
    border: 7px solid transparent;
    border-top: 7px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: -10px;
    }
  }

  .dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle:active, .dropdown.open .dropdown-toggle {
  background: #fff;
  }

  .form-group > .pwd-content {
  margin-right: -12px;
    margin-left: 0;
  }

  .fields-group > div .row {
  margin-right: -11px;
  }

  @media (max-width: 500px) {
    .deletable div[class*="col-xs"] {
    width: 50%;
    }
  }
}

  //additional contact

  .contacts-table{
    margin: 30px 0;
    td{
      background-color: transparent;
      border-top:0;
    }
  }

  @media(max-width:2100px){
    .progress{
      //width: 900px;
      margin-left: -13px;
    }
  }
  @media(max-width:1900px){
    label[for="newbusinessPswd"]{
      padding-left: 70px;
      margin-top: 10px;
    }
    label[for="businessConfirmPswd"]{
      margin-top: 10px;
      padding-left: 53px;
    }
  }

/* responsive account settings */

@media(max-width:922px){
      .progress{
      width: 100%;
      margin-left: 0;
    }
    .content-right .verification-center h2 {
    max-width: 320px;
    }
  .account-settings-slider{
        max-width:90%;
        #carousel-example-generic {
        width: 90%; 
        top:0px; 
        padding:0px;  
        height:120px; 
        }   
       #control-right{
        left:220px;
        } 
       #carousel-example-generic #logo-slide.img-responsive{
        max-width: 95px;
        height: 95px;
        }     
  }
} 

  @media (max-width: 767px) {
    .form-control {
    font-size: 11px;
    }
     .form-control label {
    font-size: 12px;
    }
    input[type="text"] {
    font-size: 11px;
    height: 40px;
    }
    .social-field img {
    width: 30px;
    }
    .btn-add-product {
    font-size: 12px;
    }
     .btn-content {
      .btn-save {
      font-size: 11px;
      height: 40px;
      }
      .btn-cancel {
      font-size: 11px;
      padding-top: 15px;
      padding-bottom: 5px;
      }
    }
     .col-xs-12 {
    width: 100%;
    padding-left: 20px;
    }
    .col-sm-3 {
    width: 24%;   
    }
    h2 {
    font-size: 20px;
    }
    h4 {
    font-size: 15px;
    text-indent: 20px;
    }
    .sidebar {
    padding-right: 0;
    padding-left: 0;
        .nav {
          a {
          color: #333;
          font-weight: 600;
          width:100%;
          }
             li  {
              width:100%;
               a {
              line-height: 15px;
              margin-left: -12px;
              font-size:10px;
              }
            }
          li.active a {
          background: #f0f0f0;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          color: #333;
          }
          li.verifyChild {
          padding-left: 20px;
          }
          li.active a:after {
          display:none;
          }
        }
    }
  .content-right {
  min-height: 900px;
  }
  .bordered-block {
    img.logo-img {
    margin-top: 0px;
    }
    .messaging .media-button {
    font-size: 12px;
    cursor: pointer;
    }
    .col-sm-5 {
    width: 40%;
    float: left;
    }
  }
  .verification .content-right {
    top: 8px;
    .verification-center h2 {
    max-width: 100%;
    }
  }
  .fields-group > div:first-child .row,
  .fields-group > div .row {
    margin-right: -15px;
    margin-bottom: 5px;
  }
  h2.title-devider {
    margin: 20px -60px 20px -50px;
    padding: 20px 60px 20px 50px;
  }
  .content-right {
    position: absolute;
    z-index: 100;
    top: 141px;
    right: 0;
    padding: 0;
    margin: 0;
    width: 82%;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
    }
  .push-right {
    -moz-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate3d(25rem, 0, 0);
    -webkit-transform: translate3d(25rem, 0, 0);
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
    }

     .account-settings-slider {
          float:right;
      #control-right {
      left: 175px;
      top: 65px;
      }
     #control-left{ 
      margin-top: -40px;
      }
      #carousel-example-generic #logo-slide.img-responsive {
    max-width: 80px;
    height: 80px;
    margin-left: 5px;
    margin-top: 5px;
    } 
     #carousel-example-generic {
    width: 180px;
    height: 90px;
    position: absolute;
    top: 0px;
    left: 50%;
    padding: 0px;
  }
    #only-149{
   max-width: 20px; 
    top: -35px;
  }
}
    .btn-orange{
    position: absolute;
    font-size: 10px;
    top: 145px;
    left: 320px;
  }
    .logo-suggestion, .logo-img, .upload-logo {
      margin-left: auto;
      margin-right: auto;
    }

    .upload-logo {
      max-width: 234px;
    }
    label[for="newbusinessPswd"],
    label[for="businessConfirmPswd"]{
      padding-left: 15px;
    }
    .passwordReset{
      form{
        margin-left: 0;
      }
    }
      .btn-manage{
    width:100%;
    }
    .form-group > .pwd-content {
    margin-right: 0;
    }
    .form-group > .retypepwd-content {
    margin-left: 0;
    }
    .item-delete {
     right: 10px;
      bottom: 40px;
    }
    .item-save{
      right: 40px;
      bottom: 230px;
    }
    .deletable {
    background: #e9e9e9;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  }
  
  @media (max-width: 620px) {
    h4 {
    font-size: 12px;
    text-indent: 0px;
    }
     .bordered-block .messaging .media-button {
    font-size: 10px;
    cursor: pointer;
    text-align:left;
    padding:6px;
    }

    .account-settings-slider {
        #carousel-example-generic {
          margin-left: 0px;
          width: 150px;
          height: 90px;
          position: absolute;
          top: -15px;
          left: 50%;
          padding: 0px;
       }
       #logo-slide:nth-child(2){
       display:none;
      }
      #logo-slide.img-responsive {
      min-width: 130px;
      max-width: 130px;
      height: 90px;
      margin-left: 25px;
      margin-top: 0px;
      }
      img#only-149 {
      position: relative;
      float: right;
      right: 0px;
      max-width: 20px;
      bottom: 40px;
      }
       #control-right, #control-left {
        display:none;
      }
  }
  #businessProfile .btn-orange {
    font-size: 10px;
    left: 265px;
    margin-top: -45px;
    height: 25px;
    padding:5px;  
    position: absolute;
    }

 .content-right {
      top:125px;
          .verification-center {
            h2 {
            margin-top: 50px;
            }
            .price-info {
            top: -40px;
            right: 0;
            }
          }
      }
      .verification-form img.img-man {
      display: none;
      }
    .products-table {
      tbody {
        tr {
          td {
          vertical-align: middle;
          width: 100%;
          border: 0;
          font-size: 11px;
          line-height: 10px;
          }
          td:first-child {
          border-top: 1px solid #ddd;
          text-align: left;
          }
        }
      tr:first-child td:first-child {
      border: 0;
      }    
    }
  }
}

// manage users
  .deletable {
    position: relative;
  }
  .item-delete, .item-save {
    position: absolute;
    top: auto;
    color: #333;
  }
  .item-delete{
  /*bottom: 31px;
  right: -10px;*/
    bottom: 31px;
    right: -50px;
  }
  .item-save{
    bottom: 33px;
    right: -25px;
  }
  .user-content {
  padding-bottom: 20px;
    cursor: default;
  }
    //notifications
  .notifications-table{
    &.table-condensed {
      background: #f0f0f0;
      border: 5px solid #f0f0f0;
    }
    .table-condensed > tbody > tr > td, .table-condensed > thead > tr > th {
      padding: 10px 15px;
    }
    @media only screen and (min-width: 800px) {
      .table-condensed > thead > tr > th:first-child + th, .table-condensed > thead > tr > th:first-child, .table-condensed > tbody > tr > td:first-child + td, .table-condensed > tbody > tr > td:first-child {
        border-left: 0;
        border-right: 0;
      }
      .table-condensed > thead > tr > th {
        border-bottom: 0;
        padding-bottom: 25px;
        text-align: center;
      }
      .table-condensed > tbody > tr:first-child > td {
        border-top: 0;
      }
    }
    .gold {
      background-color: #f9f7dd;
    }
    @media only screen and (max-width: 800px) {
      #flip-scroll th, #flip-scroll td {min-height: 41px !important; text-align: center !important;}
      #flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
      #flip-scroll * html .cf { zoom: 1; }
      #flip-scroll *:first-child+html .cf { zoom: 1; }
      #flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
      #flip-scroll th,
      #flip-scroll td { margin: 0; vertical-align: top; }
      #flip-scroll th { text-align: left; }
      #flip-scroll table { display: block; position: relative; width: 100%; }
      #flip-scroll thead { display: block; float: left; }
      #flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
      #flip-scroll thead tr { display: block; }
      #flip-scroll th { display: block; text-align: right; }
      #flip-scroll tbody tr { display: inline-block; vertical-align: top; }
      #flip-scroll td { display: block; min-height: 1.25em; text-align: left; }

    /* sort out borders */
      #flip-scroll th { border-bottom: 0; border-left: 0; }
      #flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
      #flip-scroll tbody tr { border-left: 1px solid #babcbf; }
      #flip-scroll th:last-child,
      #flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }
    }
  }
}
.btn-additional-contact {
  background: #4b9bd8;
  display: inline-block;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    background-color: none;
    color:#fff;
  }
}
@media (max-width: 580px) {
  .acct-settings {
    #verifyCenter .verification-center .price-info {
    margin-right: 0%;
    margin-top: 10%;
    }
    #businessOrganization {
      .relative-top .btn-default {
      padding: 4px 10px 10px 10px;
      margin: 0px 1.5px;
      width: 120px;
      font-size: 10px;
      float: left;
      }
      .col-sm-3 .form-control {
      width: 50%;
      padding-top: 10px;
      margin-right: 0px;
      height: 35px;
      } 
      .col-sm-5 .form-control {
      height: 35px;
      width: 70%;
      padding-top: 10px;
      margin-left: 0px;
      margin-top: -25px;
      }
      .col-xs-2 .form-control {
      text-align: center;
      padding-top: 10px;
      height: 35px;
      width: 70px;
      margin-left: 0px;
      margin-top: -15px;
      }
      p {
      height: 25px;
      font-size: 10px;
      }
      strong {
      font-size: 14px;
      margin-top: 10px;
      margin-left: 10px;
      font-weight: 999;
      color: #555555;
      }
       .row {
      margin-top: 0px;
      }
      .employeeHistory {
        .row {
        float: left;
        }
        .row p.form-control.ng-binding {
        font-size: 10px;
        }
      }
      .user-content.employeeHistory {
      padding-bottom: 0px;
      float: left;
      padding-right: 30px;
      }
      .col-xs-12 {
      padding: 0;
      }
      label#username-label.control-label {
      position: relative;
      left: -80px;
      top: -15px;
      }
      label#email-label.control-label {
      position: relative;
      top: -15px;
      left: -90px;
      }
      label.control-label strong {
      color: black;
      margin-left: 15px;
      font-size: 12px;
      display: none;
      visibility: hidden;
      }
      .user-content label {
      color: #000;
      margin-left: 15%;
      float: left;
      margin-bottom: 10px;
      font-size: 12px;
      cursor: default;
      }
      .manage-actions {
          margin-top: -20px;
          .col-sm-2.row {
          margin-left: 1px;
          }
          .btn-reject {
          background-color: #b6b6b6;
          margin-left: 15px;
          }
        }
      .current-users {
        .item-delete {
        right: 20px;
        bottom: 45px;
        }
        .manage-actions .btn-edit {
        background-color: transparent;
        margin-top: 0px;
        margin-right: 0px;
        color: #65B2DF;
        width: 25px;
        float:right;
        height: 20px;
        font-size: 12px;
        }
      }
    }
    .justify-container {
      margin-top: 15%;
      label {
      display: none;
      }
    }
    #addContacts .btn-submit,
    #login .btn-submit,
    #addStaff .btn-submit,
     #addProduct .btn-submit,
    .win-modal .btn-submit,
    #addLocation .btn-submit,
    #addDepartment .btn-submit,
    #addContacts .btn-cancel,
    #login .btn-cancel,
    #addStaff .btn-cancel,
     #addProduct .btn-cancel,
    .win-modal .btn-cancel,
    #addLocation .btn-cancel,
     #addDepartment .btn-cancel,
    label,   input[type="email"] {
    font-size: 12px;
    width: 100%;
    text-align: center;
    }
    input[type="email"] {
    height: 40px;
    }
    .col-xs-12 {
    width: 100%;
    padding-left: 20px;
    }
    .col-sm-3 {
    width: 100%;
    position: relative;
    top: -10px;
    }
    h4 {
    font-size: 15px;
    text-indent: 20px;
    }
    .sidebar {
    padding-right: 0;
    padding-left: 0;
      .nav {
        a {
        color: #333;
        font-weight: 600;
        width: 100%;
        }
        li {
        width: 100%;
        text-align: center;
          a {
          line-height: 9px;
          margin-left: -12px;
          font-size: 10px;
          letter-spacing: 1px;
          border-bottom: 1px solid #F0F0F0;
          }
        }
        li.active a {
        background: #f0f0f0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        color: #333;
        }
        li.verifyChild {
        padding-left: 20px;
        }
        li.active a:after {
        display: none;
        }
      }
    }
    .content-right {
    min-height: 900px;
    top: 90%;
    position: relative;
    width: 100%;
    }
     #businessProfile {
      .bordered-title span {
      font-size: 14px;
      background-color: #FFF;
      }
      .products-table .list-inline > li:nth-child(odd) {
      right: 40px;
      position: absolute;
      }
      .btn-orange {
        font-size: 10px;
        left: 330px;
        top: 130px;
        height: 30px;
        padding: 5px 10px;
        position: absolute;
        }
        h4{
        margin-left: 30px;
        }
      }
    img#only-149 {
    position: relative;
    float: right;
    right: 50px;
    bottom: 40px;
    }
    .bordered-block .media-button img {
    display: block;
    float: left;
    position: absolute;
    cursor: pointer;
    top: 10px;
    width: 15px;
    left: 10px;
    }
  }
}


@media (max-width: 540px) {
  .acct-settings {
    .col-xs-12 {
    width: 100%;
    padding-left: 10px;
    }
    .profile-items {
    margin-top: 10px;
    float: right;
    }
     label {
    font-size: 10px;
    }
    #businessProfile .bordered-title span {
    font-size: 14px;
    }
     .profile-items {
      li {
      padding: 0 20px;
      }
      li:last-child {
      padding-right: 0;
      }
       a {
      color: #333;
      font-size: 10px;
      }
    }
    h4 {
    text-indent: 0px;
    }
    .content-right .bordered-block {
    height: 160px;
    height: 100%;
    }
     .bordered-block .media-button img {
    display: none;
    }
    .btn-add-product {
    font-size: 10px;
    padding: 10px 15px;
    }
    .btn-content .btn-cancel {
    margin-top: 0px;
    }
     .sidebar .nav li a {
    font-size: 10px;
    }
    h2 {
    font-size: 15px;
    }
  }
}
@media (max-width: 500px) {
  .acct-settings .account-settings-slider #carousel-example-generic {
    margin-left: -10px;
    width: 140px;
    height: 90px;
    position: absolute;
    top: -15px;
    left: 50%;
    padding: 0px;
  }
  
}
@media (max-width: 480px) {
  .verification-center {
    .list {
    margin-left: 0;
    }
    img.lady {
    display: none;
    }
     .list h4 {
    left: 0;
    }
     .btn-orange {
    padding: 7px 15px;
    }
  }
}
@media (max-width: 455px) {
  .acct-settings .profile-items li.completed {
    padding: 15px;
  }
  .acct-settings .profile-items li {
    font-size: 6px;
  }
  .acct-settings .bordered-block .col-sm-5 {
    width: 100%;
  }
  .acct-settings .messaging .media-button {
    font-size: 24px;
  }
  .acct-settings .messaging .media-button img {
    width: 10%;
  }
  .acct-settings h4 {
    font-size: 16px;
  }
  .acct-settings #businessProfile h4 {
   margin-top: 260px;
   margin-left:-100px;
  }
  .acct-settings img#only-149 {
    max-width: 40px;
    margin-right: 20px;
    top: 230px;
  }
  .acct-settings .account-settings-slider #carousel-example-generic {
    margin-left: -10px;
    width: 140px;
    height: 90px;
    position: absolute;
    top: 240px;
    left: 100px;
    padding: 0px;
  }
  .acct-settings #businessProfile .btn-orange {
    font-size: 10px;
    left: 155px;
    height: 25px;
    padding: 5px;
    position: absolute;
  }
  .acct-settings .content-right .bordered-block {
    min-height: 400px;
  }
  .acct-settings .btn-content .btn-cancel,
  .acct-settings .btn-content .btn-save {
    margin: 10px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .acct-settings .profile-items {
    margin-top: 10px;
    float: right;
  }
  .acct-settings label {
    font-size: 10px;
  }
  .acct-settings #businessProfile .bordered-title span {
    font-size: 12px;
  }
  .acct-settings .profile-items li {
    padding: 0 10px;
  }
  .acct-settings .profile-items a {
    font-size: 8px;
  }
  .acct-settings h4 {
    font-size: 12px;
  }
    .acct-settings #businessOrganization .relative-top {
      margin-left:18%;
    }
  .acct-settings #businessOrganization .relative-top .btn-default {
    padding: 5px;
     width: 75px;
    text-align:center;
    font-size: 10px;
    line-height:10px;
    float: left;
  }
}
@media (max-width: 380px) {

  .acct-settings {
    .progress-info{
    font-size:20px;
    }
     div.clearfix.row > ul > li:nth-child(3),
     div.container.row > ul > li:nth-child(3),
     div.container-fluid.row > ul > li:nth-child(3),
    div.row.row > ul > li:nth-child(3),
     div.form-horizontal .form-group.row > ul > li:nth-child(3),
     div.btn-toolbar.row > ul > li:nth-child(3),
    div.btn-group-vertical > .btn-group.row > ul > li:nth-child(3),
     div.nav.row > ul > li:nth-child(3),
    div.navbar.row > ul > li:nth-child(3),
     div.navbar-header.row > ul > li:nth-child(3),
    div.navbar-collapse.row > ul > li:nth-child(3),
    div.pager.row > ul > li:nth-child(3),
     div.panel-body.row > ul > li:nth-child(3) {
    width: 60px;
    word-break: break-word;
    line-height: 7px;
    }
    .profile-items {
    margin-top: 0px;
    float: right;
    }
    .profile-items #businessOrganization .relative-top .btn-default {
    padding: 5px;
    text-align: center;
    margin: 0px 1.5px;
    width: 80px;
    font-size: 10px;
    line-height: 8px;
    float: left;
    }
    .bordered-block > .row {
    width: 100%;
      margin-bottom: 5%;
    }
   label {
    font-size: 10px;
    }
     #businessProfile .btn-orange {
    font-size: 10px;
    left: 155px;
    margin-top: -20px;
    height: 25px;
    padding: 5px;
    position: absolute;
    }
     #businessProfile .bordered-title span {
    font-size: 12px;
    }
     .profile-items li {
    padding: 2px;
    width: 65px;
    margin-left: -15px;
    }
     .profile-items a {
    font-size: 7px;
    padding: 0px;
   }
     h4 {
    font-size: 14px;
    margin-top: 220px;
  }
    .col-sm-7 {
    margin-top: 0%;
    }
     .account-settings-slider #carousel-example-generic {
    top:200px;
    left:60px; 
    }
    .form-control {
    border: 2px solid #F0F0F0;
    }
    .content-right {
    top: 0px;
    background-color: #FFF;
    }
    .content-right > .contact-info > form {
    padding: 10px;
    }
    #verifyCenter .verification-center {
      .price-info p {
      position: absolute;
      top: 50px;
      right: -150%;
      }
       .price-info > img {
      width: 50%;
      margin-top:-10px;
      }
      #oneTime {
      font-size: 10px;
      position: absolute;
      width: 100%;
      top: 105px;
      right: -145%;
      }
      h4 {
      font-size: 10px;
      margin-top: 40px;
      margin-left: 20%;
      }
       .price-info {
      margin-right: 10%;
      margin-top: 0%;
      }
      h2 {
      font-size: 14px;
      margin-left: -5%;
      }
       .price-info span {
      margin-left: 1px;
      display: inline-block;
      position: absolute;
      top: 35px;
    }
  }
    .col-xs-12.verification-center {
    width: 80%;
    padding-left: 10px;
  }
    .btn-content .btn-cancel,
     .btn-content .btn-save {
    margin: 0px;
    width: 100%;
    text-align: center;
  }
}
     .verify-page {
      #oneTime {
    font-size: 10px;
    position: absolute;
    width: 100%;
    margin-top: 15%;
    left: -85%;
  }
   .price-info p {
   left: -50px;
  }
}
}
@media (max-width: 360px) {
  .acct-settings {
    #verifyCenter .verification-center {
      .price-info  img {
        width: 18%;
        margin-top:40px;
        margin-right: 210px;
          span {
          margin-left: 1px;
          display: inline-block;
          position: absolute;
          top: 40px;
          left:70%;
          }
        }
      }
    .col-xs-12.verification-center {
    width: 80%;
    padding-left: 15px;
    }
    #businessOrganization .relative-top {
      margin-left:0%;
    }
    .products-table tbody tr td {
    vertical-align: middle;
    width: 200px;
    float:left;
    border: 0;
    font-size: 11px;
    line-height: 10px;
    }
    #businessProfile {
      .products-table .list-inline > li:nth-child(odd) {
      right: 20px;
      position: absolute;
      }
      .bordered-title span {
      font-size: 12px;
      }
      .btn-orange {
      font-size: 10px;
      left: 155px;
      margin-top: -20px;
      height: 25px;
      padding: 5px;
      position: absolute;
      }
    }
    .profile-items {
    margin-top: 0px;
    float: right;
    }
    .bordered-block > .row {
    width: 100%;
    margin-bottom: 5%;
    }
    label{
   font-size: 10px;
    }
    .profile-items {
      li {
      padding: 2px;
      width: 65px;
      margin-left: -15px;
      }
      a {
      font-size: 7px;
      padding: 0px;
      }
    }
    h4 {
    font-size: 12px;
    margin-top: 220px;
    }
   .col-sm-7 {
    margin-top: 0%;
    }
    .form-control {
    border: 2px solid #F0F0F0;
    }
    .content-right {
    top: 0px;
    min-height:500px;
    background-color: #FFF;
    }
    .content-right > .contact-info > form {
    padding: 10px;
    }
  }
}

@media (max-width: 320px) {
  .acct-settings {
    .notification-setting {
    thead:first-child tr:first-child th {
    position: relative;
    text-align: left;
    font-size: 8px;
    }
    .text-center {
    width: 10px;
    }
    table td {
    width: 50%;
    position: relative;
    text-align: left;
    font-size: 8px;
    line-height: 10px;
    }
    table td:nth-child(2),
    table td:nth-child(3) {
    width: 5%;
    margin-left: 20%;
    }
  }
  }
}
@media (max-width: 305px) {
  .acct-settings {
    .profile-items {
      li {
      padding: 2px;
      width: 60px;
      margin-left: -15px;
      }
       a {
      font-size: 6px;
      padding: 0px;
      }
    }
    h4 {
    font-size: 12px;
    text-indent: 0px;
    }
  }
}
@media (max-width: 305px) {
  .acct-settings {
    .profile-items li {
    padding: 2px;
    width: 60px;
    margin-left: -15px;
    }
    .profile-items a {
    font-size: 6px;
    padding: 0px;
    }
     h4 {
    font-size: 12px;
    text-indent: 0px;
  }
}

}

/*Business Profile Image Slider Acct Settings*/
.acct-settings {
  #businessProfile h4 {
  font-size:14px;
  position:absolute;
  top:0px;
  left:55px;
  }
   #only-149 {
  position: relative;
  float: right;
  right: 75px;
  max-width: 50px;
  bottom: 0px;
}
}
.account-settings-slider{
 #carousel-example-generic {
  width: 100%;
  width: 250px;
  margin-top: 40px;
  padding: 0px;
  padding-left: 3px;
  margin-left: 40px;
  border: none;
  height: 150px;
  position: relative;
  background-color: #bbbbbb;
  }
  #logo-slide {
  height: 120px;
  padding: 5px;
  margin-right: 0px;
  display: block;
  float: left;
  margin-top: 5px;
  }
   img#logo-slide {max-width:120px;} 
  #control-left {
 left: -26px;
  top: 70px;
  position: absolute;
  z-index: 1;
  background: transparent;
  border: none;
  height: 40px;
  width: 25px;
    span {
    color: #f0f0f0;
    height: 38px;
    width: 29px;
    padding-top: 2px;
    margin-left: 6px;
    background-color: #8a8a8a;
    }
  }
  #control-right {
 left: 244px;
  top: 85px;
  position: absolute;
  z-index: 1;
  background: transparent;
  border-color: transparent;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
    span {
    color: #f0f0f0;
    height: 35px;
    width: 29px;
    margin-left: -5px;
    background-color: #8a8a8a;
    }
  }
  .carousel-indicators li {
  visibility: hidden;
  }
}
#businessProfile .btn-orange{
  font-size:14px;
  margin-left: -60px;
  margin-top: -30px;
}

/* account settings Busines Profile Account Logo Upload Styles*/

.acct-settings {
  .bordered-block{
     .messaging {
    padding: 5px 0;
    margin-bottom: 15px;
    max-width: 290px;
    cursor:pointer; 

  li span{
  width: 50%;
  text-align: center;
  }
  span {
  background: #55a5e0;
  color: #fff;
  display: block;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
  width: 100%;
  text-indent: 25%;
  }
  span:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer; 
  //background: url(../images/assets/camera.png) left no-repeat #4C87BD;  
  }
  form#img-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  }
  }
 .messaging > span {
  padding: 10px;
  cursor: pointer; 
  }
  .logo-img{
  margin-top: 30px;
  max-width: 290px;
  width: 100%;
  }
  .media-button img{
    display:block; 
    float:left; 
    position:absolute;
    cursor:pointer; 
    top:13px;
    left:10px; 
  }
  .media-button:hover{
  cursor:pointer; 
    background-color:#3684BC;   
}
}
}
@media (max-width: 992px) {
  .account-settings-slider #carousel-example-generic {
    margin-left: 0px;
  }
.acct-settings {
  #businessProfile h4 {
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 15px;
  }
  #only-149 {
  position: relative;
  float: right;
  right: 15px;
  max-width: 40px;
  bottom: 0px;
  }
}
}
@media (max-width: 768px) {
 .acct-settings {
  #businessProfile {
    h4 {
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 225px;  
    }
    .btn-orange {
    font-size: 12px;
    margin-left: -10px;
    margin-top: -30px;
    }
  }
  #only-149 {
  position: absolute;
  float: right;
  right: 50px;
  max-width: 40px;
  top: -15px;
  }
}
}
@media (max-width: 635px) {
  .acct-settings {
    #businessProfile {
      .btn-orange {
      font-size: 12px;
      margin-left: -60px;
      margin-top: -20px;
      }
      h4 {
      font-size: 12px;
      position: absolute;
      top: 0px;
      left: 175px;
      }
      #only-149 {
      position: absolute;
      float: right;
      right: 35px;
      max-width: 40px;
      }
    }
  }
}
@media (max-width: 525px) {
  .acct-settings #businessProfile .btn-orange {
    font-size: 11px;
    margin-left: -80px;
    height: 25px;
    margin-top: -25px;
  }
  .acct-settings #businessProfile h4 {
    top:-40px;
    left:150px;
  }
  .acct-settings #businessProfile #only-149 {
    position: absolute;
    float: right;
    right: -45px;
    top:195px;
    max-width: 40px;
  }
}
@media (max-width: 455px) {
  .acct-settings #businessProfile .btn-orange {
    font-size: 11px;
    margin-left: -30px;
    height: 25px;
    margin-top: 215px;
  }
}

@media (max-width: 360px) {
  .acct-settings #businessProfile .btn-orange {
    font-size: 11px;
    margin-left: -65px;
    height: 25px;
    margin-top: 210px;
  }
}

/*cancel account modal */
#cancelModal {
  .modal-body{
    background-color:#F2F2F2;
    padding:15px;
    }
    .warningBox{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    background-color:#FFF;
    border:1px solid red;
    height:52px;
    overflow:hidden; 
      .warningLeft{
      width:160px;
      height:50px;
       float:left; 
      }
      .warningRight{
      line-height:13px;
      padding-top:2px;
      height:50px;
      }
      h2{
      background-color:red;
      color:#FFF;
      font-size:20px;
      padding:15px 10px;
      float:left; 
      position:relative;
      top:-20px; 
      font-weight:bold;
      height:50px;
      }
      p{
      font-size:12px;
      color:#000; 
      }
    }
    a:hover{
    text-decoration:none;
    }
  .modal-footer .btn-save{
  background-color:red;
  }
  .modal-footer .btn-save,
  .modal-footer .close-panel.btn-cancel {
  height: 42px;
  font-weight: bold;
  padding:8px 20px;
  }
  .modal-title{
  font-size:14px;
  }
}
@media (max-width: 500px) {
  #cancelModal {
    .modal-body {
    background-color: #F2F2F2;
    padding: 15px;
    }
  .warningBox {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 70px;
    overflow: hidden;
    .warningLeft {
    width: 100px;
    height: 70px;
    float: left;
    }
    .warningRight {
    line-height: 11px;
    padding-top: 2px;
    height: 70px;
    }
     h2 {
    background-color: red;
    color: #FFF;
    font-size: 11px;
    padding: 15px 10px;
    float: left;
    position: relative;
    top: -20px;
    font-weight: bold;
    height: 70px;
    }
    p {
    font-size: 10px;
    color: #000;
    line-height: 10px;
    text-indent: 0px;
    }
  }
    .modal-footer {
      .btn-save, .close-panel.btn-cancel {
    height: 40px;
    font-weight: bold;
    padding: 8px 20px;
    width: 100%;
    font-size: 12px;
    }
  }
    .modal-title {
    font-size: 12px;
    }
  }
}
@media (max-width: 380px) {
  #cancelModal {
    .warningBox {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 100px;
    }
    .warningLeft {
    height: 100px;
    width: 95px;
    float: left;
    }
    .warningRight {
    line-height: 11px;
    padding-top: 2px;
    height: 100px;
    }
    h2 {
    color: #FFF;
    font-size: 10px;
    height: 100px;
    }
    p {
    font-size: 9px;
    line-height: 10px;
    text-indent: 0px;
    }
     .modal-footer {
      .btn-save, .close-panel.btn-cancel {
      height: 40px;
      font-weight: bold;
      padding: 8px 20px;
      width: 100%;
      font-size: 12px;
      }
      }
      .modal-title {
      font-size: 12px;
      }
  }
}


.tourPopup{
width:100%;
max-width:460px;
height:120px;
padding:0px 16px;
margin:25px;
background-color:white;
border:1px solid #D4D4D4;
position:absolute;
right:-30px;
top:56.5%;
    h3{
    font-size:16px;
    font-weight:bold;
    }
      img{
    position:relative;
    bottom:5px;
    }
  }