<!--
<div class="wrapper container-16" id="sponsors-wrapper">
	<div class="container grid-12">
        <div class="grid-inner clearfix">
        	<div class="clearfix" id="sponsors-anonymous">  
        		<div class="region region-sponsors">
      				<div class="region region-sponsors">
    					<div class="block block-content-pages" id="block-content-pages-sponsors">
 	 						<div class="block-inner clearfix"> 
          						<h2 class="block-title">Sponsors</h2>
    							<div class="block-content clearfix">
      								<div style="text-align: center;">
      									<a href="/users/579" style="cursor: pointer;">
      										<img src="/sites/all/themes/winwin_sirate/images/sponsors_01.jpg">
      									</a>
      									<a href="/users/668" style="cursor: pointer;">
      										<img src="/sites/all/themes/winwin_sirate/images/sponsors_02.jpg">
      									</a>
      									<a href="/users/527" style="cursor: pointer;">
      										<img src="/sites/all/themes/winwin_sirate/images/sponsors_03.jpg">
      									</a>
      									<a href="/users/328" style="cursor: pointer;">
      										<img src="/sites/all/themes/winwin_sirate/images/sponsors_hkm.jpg">
      									</a>
      									<a href="/users/298" style="cursor: pointer;">
      										<img src="/sites/all/themes/winwin_sirate/images/sponsors_05.jpg">
      									</a>
      									<a href="/users/543" style="cursor: pointer;">
      										<img src="/sites/all/themes/winwin_sirate/images/sponsors_06.jpg">
      									</a>
      									<a href="/users/334" style="cursor: pointer;">
      										<img src="/sites/all/themes/winwin_sirate/images/sponsors_07.jpg">
      									</a>
      								</div>
      							</div>
  							</div>
						</div>
  					</div>
  				</div>
			</div>
        </div>
 	</div>
</div>
-->