/*============== [Account Settings]*/
.acct-settings {
  color: #000;
  padding-bottom: 50px;
  position: relative;
  h2 {
  font-size: 24px;
  }
  .employeeHistory {
    .row {
      margin-right: 1px;
      margin-top: -15px;
      .row p.form-control.ng-binding {
      font-size: 12px;
      }
    }
  }
  h1,  h2,  h3,  h4,  h5 {
  font-size: 20px;
  font-family: 'Century Gothic W01';
  margin-bottom: -10px;
  }
  input[type="checkbox"] {
  right: 0;
  display: inline-block;
  width: 16px;
  height: 19px;
  vertical-align: middle;
  margin: -1px 4px 0 0;
  background: url(../images/assets/checkboxs.jpg) left top no-repeat;
  cursor: pointer;
  }
  input[type="checkbox"]:checked {
  width: 21px;
  background: url(../images/assets/checkboxs.jpg) -18px top no-repeat;
  }
  .verification-center p#oneTime {
  font-size: 14px;
  margin-top: -15px;
  }
  .completed {
  background: url(../images/assets/account-settings/green-check-mark.jpg) left top no-repeat;
  }
  .incomplete {
  background: url(../images/assets/account-settings/incomplete-check-mark.jpg) left top no-repeat;
  }
  .not-verifed {
  background: url(../images/assets/account-settings/not-verified.jpg) left top no-repeat;
  height: 28px;
  padding-left: 30px !important;
  }
  .pending-verified {
  background: url(../images/assets/account-settings/pending-verified.jpg) left top no-repeat;
  }
  .notification-setting {
  margin-bottom: 40px;
  font-size: 20px;
      .btn-group {
      margin-top: 20px;
      }
      .btn {
      border-radius: 12px;
      padding: 6px 33px;
      }
      .btn:first-child {
      border-left: none;
      }
      .btn-default {
      background-color: #c6c6c6;
      color: #fff;
      border-color: #dddddd;
      border-right: none;
      border-top: none;
      border-bottom: none;
      }
      .btn-default:hover,
      .btn-default:focus,
      .btn-default.active {
      background-color: #4397d3;
      }
      table {
      margin-top: 30px;
      }
      table th:only-child {
      text-align: center;
      }
      table td {
      padding: 30px 0;
      text-align: left;
      }
    }
  .notification {
      padding: 30px;
      font-size: 20px;
      width: 98%;
      margin-left: 10px;
      position: relative;
      top: 60px;
      -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      border: 1px solid #aeaeae;
      background-color: #FFF;
      padding-top: 0px;
      .btn-content {
      margin-right: 0px;
      }
     .table thead th {
      background-color: #FFF;
      font-family: 'Century Gothic W01';
      font-size: 18px;
      }
      h2{
      position:absolute;
      top:-55px; 
      left:0px;
      }
      .pull-right.hidden-xs{
      position:absolute;
      right:5px;
      top:5px;
      width:40px;
      }
    }
  .passwordReset {
    form {
      margin-left: 0px;
      padding:20px;
      background-color: #FFF;
      -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      border: 1px solid #aeaeae;
      margin-top: 30px;
      }
      form .row {
      padding: 30px;
      margin-top: 0px;
      }
    }
  .support form textarea {
  height: 130px !important;
  }
  .cancel{
   padding:20px;
   background-color: #FFF;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  border: 1px solid #aeaeae;
  margin-top: 60px;
  }
  .support form {
  padding:30px;  
  padding-top:0px;    
  margin-top:30px;    
  background-color: #FFF;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  border: 1px solid #aeaeae;
  }
  .cancel a.styled {
  color: #6ca2d1;
  text-decoration: underline;
  }
  .users .btn-additional-contact {
  position: absolute;
  top: 0;
  right: 0;
  }
  .relative-top {
  position: relative;
  padding-top: 40px;
  padding-bottom: 10px;   
  }
  #gettingstartedModal img {
  max-width: 530px;
  }
  .verification-center {
  background-color: #FFF;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  border: 1px solid #aeaeae;
  padding: 20px;
  width: 99%;
  margin-top: 50px;
      img.lady {
      width: 15%;
      margin-left: 5px;
      float: left;
      margin-top: 25px; 
      }
      .price-info {
      position: absolute;
      top: 0;
      right: 0;
          span {
          color: #4192d7;
          margin-left: 11px;
          display: inline-block;
          position: relative;
          margin-top: 5px;
          }
          p {
          font-size: 30px;
          margin-right: 105px;
          line-height: 30px;
          }
          p sup {
          top: -3px;
          }
        }
      .list {
      margin-left: 175px;
      margin-top: 85px;
          h4 {
          margin-bottom: 35px;
          position: relative;
          left: -45px;
          }
          strong {
          background: url(../images/assets/verification/arrow.png) left center no-repeat;
          padding-left: 25px;
          margin-bottom: 10px;
          display: inline-block;
          }
          p {
          margin-left: 30px;
          margin-bottom: 15px;
          }
          a {
          text-decoration: underline;
          }
          a.btn {
          text-decoration: none;
          margin-top: 10px;
          }
          ul {
          padding-left: 45px;
          list-style: none;
          }
        }
        .price-info > img {
        float: right;
        }
    }
  .verification-form + div .price-info {
  position: static;
  margin-left: 45%;
  }
  .verification-form + div .price-info p {
  margin-right: 0;
  }
  .verification-form {
  background: #fff;
  padding: 7px;
  position: relative;
  margin-top: 90px;
      img.img-man {
      position: absolute;
      top: -129px;
      right: 0;
      }
      h4 {
      background: #3b94ce;
      color: #fff;
      padding: 11px;
      margin: 0 0 10px 0;
      max-height: 41px;
      }
      .card-type {
      margin-top: 10px;
      margin-bottom: 10px;
      }
      .card-type input[type="radio"] {
      margin-top: 0;
      vertical-align: middle;
      }
    }
  .price-info-container {
  margin-top: 36px;
  }
  .get-started-btn {
  margin-top: 60px;
    .btn-orange {
    padding: 7px 25px;
    display: inline-block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
    }
  }
  img.gurantee {
  margin-top: -16px;
  float: right;
  }
  .testimonial {
  margin-top: 20px;
  }
  .image-container {
  background: #3a3d42;
  padding: 10px 0;
  margin-top: 20px;
   .image-content {
    margin-left: -10px;
    margin-right: -10px;
    }
  }
  #verifyDownload {
      .content-right {
      padding: 0 40px;
      }
      h1 {
      margin-bottom: 64px;
      }
      .text-center p {
      margin-bottom: 20px;
      }
      .thumbnail {
      border: none;
      border-radius: 0;
      padding: 34px 0 5px 0;
      margin-bottom: 10px;
      background-color: #fff;
      }
      .btn {
      background-color: #3c89cd;
      padding: 10px 12px;
      height: auto;
      }
    }
  #verifySupport  {
    .content-right {
      padding: 0 70px;
      }
      #accordion {
          .panel {
          border-radius: 0;
          }
          .panel-default {
          border: none;
          }
          .panel-default a:hover {
          text-decoration: none;
          }
          .panel-heading {
          border-color: transparent;
          background-color: #e4e4e4;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
          text-align: center;
          color: #676767;
          padding: 25px 15px;
          }
          .panel-heading .panel-title {
          font-size: 12px;
          }
        }
        .divider-line {
        height: 2px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #d6d6d6;
        margin: 40px 0 50px 0;
        }
        .verify-contact {
        max-width: 514px;
        width: 100%;
        }
        .verify-contact h3 {
        margin-bottom: 35px;
        font-size: 18px;
        }
      }
}


.account-settings-portlet .acct-settings .verification-center .price-info {
  margin-top: 20px;
}
.account-settings-portlet .acct-settings .verification-center p#oneTime {
  font-size: 12px;
  margin-top: 45px;
  margin-left: -80px;
  line-height: 12px;
}

.acct-settings {
  #verifySupport .verify-contact {
    form {
    margin-bottom: 18px;
    }
    textarea {
    height: 120px;
    border: none;
    border-radius: 0;
    resize: none;
    }
    .btn {
    border-radius: 0;
    font-size: 18px;
    padding: 10px 40px;
    background-color: #f39428;
    border: none;
    }
    .btn-warning:hover,
    .btn-warning:focus {
    border: none;
    background-color: #f28d1b;
    }
  }
  .navbar-toggle {
  display: none;
    .icon-bar {
    background: #fff;
    }
  }
  .progress-info {
  font-weight: 300;
  color: #448ad0;
  margin-top: 12px;
  }
  .profile-items {
    margin-top: 15px;
    float: right;
    li {
    padding: 0 20px;
    }
    li:last-child {
    padding-right: 0;
    }
    a {
    color: #333;
    }
    a:hover {
    text-decoration: none;
    }
  }
  .sidebar {
    padding-right: 0;
    width: 20%;
    padding-left: 0;
    position: relative;
    top: -30px;
    top: -10px;
    .nav a {
    color: #333;
    font-weight: 300;
    }
    .nav li {
    width: 100%;
    }
    .nav li a {
    line-height: 5px;
    font-size: 14px;
    margin: 0;
    margin-top: 30px;
    font-family: 'Century Gothic W01';
    }
    .nav li.active a {
    border-left: 5px solid #4BA5DA;
    font-family: 'Century Gothic W01';
    color:  #1b6b9c;
    font-size: 14px;
    border-radius: 0;
    background-color: #DFDFDF;
    }
    .nav li a:hover {
    border-radius: 0;
    color:  #1b6b9c;
    background-color: #DFDFDF !important;
    border-left: 5px solid #4BA5DA;
    }
   .nav li.verifyChild {
    padding-left: 20px;
    } 
  }
  .nav-pills > li > a {
  font-family: 'Century Gothic W01';
  color: #000;
  line-height: 25px;
  font-size: 12px;
  }
  .content-right {
  min-height: 500px;
  }
  .content-right > .contact-info > form {
  padding: 0px;
  }
  #businessOrganization {
      .col-sm-12 {
      margin-top: -16px;
      }
      .col-sm-3 .form-control {
      width: 140px;
      border: 1px solid #aeaeae;
      padding-top: 10px;
      margin-right: 0px;
      height: 41px;
      }
      .col-sm-5 .form-control {
      height: 41px;
      min-width: 200px;
      border: 1px solid #aeaeae;
      padding-top: 10px;
      margin-left: -5px;
      }
      .col-xs-2 .form-control {
      font-weight: bolder;
      text-align: center;
      padding-top: 10px;
      height: 41px;
      width: 100px;
      border: 1px solid #aeaeae;
      margin-left: -75px;
      }
      p {
      height: 45px;
      font-size: 12px;
      }
      strong {
      font-size: 14px;
      margin-top: 10px;
      margin-left: 10px;
      font-weight: 999;
      color: #555555;
      }
      .row {
      margin-top: 0px;
      }
      .employeeHistory .row {
      margin-right: 1px;
      margin-top: -25px;
      }
      .employeeHistory .row p.form-control.ng-binding {
      font-size: 12px;
      min-width:200px;
      background-color: transparent;
      border: none;
      box-shadow: none;
      }
      .col-xs-12 {
      margin-top:15px;
      padding: 0;
      }
      .glyphicon-trash {
      cursor: pointer;
      }
      label#username-label.control-label {
      position: relative;
      left: -80px;
      top: -15px;
      }
      label#email-label.control-label {
      position: relative;
      top: -15px;
      left: -90px;
      }
      label.control-label strong {
      color: black;
      margin-left: 15px;
      font-size: 12px;
      display: none;
      visibility: hidden;
      }
      .user-content .text-pending {
      cursor: default;
      color: #4BA5DA;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-top: -30px;
      font-weight: 500;
      visibility: hidden;
      display: none;
      }
      .user-content label {
      color: #000;
      margin-left: 15%;
      float: left;
      margin-bottom: 10px;
      font-size: 12px;
      cursor: default;
      }
      form .user-content {
      padding-right: 20px;
      width:100%;
      margin-left: 0px;
      cursor: default;
      }
      .relative-top {
        margin-bottom: 40px;
        .btn-default {
        padding: 4px 10px 10px 10px;
        margin: 0px 1.5px; 
        }
        .btn-default .glyphicon-plus {
        color: #000;
        font-size: 7px;
        width: 1px; 
        font-weight: normal;
        }
        a.btn-default strong {
        color: #000;
        font-weight: bolder;
        font-size: 1em;
        vertical-align: middle;
        }
        a.btn-default:hover{
        background-color:#DFDFDF;
        }
        h2 {
        display:none;
        }
      }
      .content-right > .contact-info > form {
      padding: 0 10px 0  0px;
      margin-top: -40px;
      }
      .manage-actions {
          margin-top: -20px;
          .col-sm-2.row {
          margin-left: 1px;
          }
          .btn-reject,
          .btn-edit,
          .btn-approve {
          color: #fff;
          font-weight: bold;
          font-size: 12px;
          height: 41px;
          width: 100%;
          padding: 2px;
          border: none;
          }
          .btn-reject {
          background-color: #b6b6b6;
          margin-left: 15px;
          }
          .btn-edit {
          background-color: transparent;
          color: #3C8ACC;
          font-weight: bold;
          }
          .btn-approve {
          background-color: #31d624;
          }
        }
      .current-users {
        .item-delete {
        right: 60px;
        top:25px;
        }
        .manage-actions {
        margin-top: 0;
        position: absolute;
        top: 0;
        right: 90px;
        }
        .manage-actions .btn-edit {
        background-color: #b6b6b6;
        margin-top: 15px;
        color: white;
        position:relative;
        width: 60px;
        }
      }
    }
  .content-right {
    margin-bottom: 0px;
    width: 86%;
    margin-top: -520px;
    left: 180px;
    position: relative;
      .bordered-block {
      padding: 10px 20px;
      }
  }
  .tab-content {
  overflow: visible;
  padding-top: 0;
  }
  .logo-suggestion {
    font-size: 0;
    background: #bbbbbb;
    padding: 5px 0;
    margin-bottom: 15px;
    max-width: 290px;
      li {
      width: 50%;
      text-align: center;
      }
    }
  .upload-logo {
    background: #55a5e0;
    color: #fff;
    display: block;
    margin-top: 10px;
      #imgfile {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer;
      }
    }
  .upload-logo:hover {
  color: #fff;
  text-decoration: none;
  }
  .upload-logo > span {
  display: inline-block;
  background: #4089bc;
  margin-right: 20px;
  }
  .upload-logo > span {
  padding: 14px;
  }
  .btn-orange {
  background: #f09508;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
  }
  .btn-orange:hover {
  text-decoration: none;
  color: #fff;
  }
  .form-control {
  height: 48px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid #ddd;
  }
  .verification-form {
    .form-control {
    border: 1px solid #ddd;
    padding: 5px;
    height: 30px;
    }
    label {
    font-weight: 700;
    }
  }
  h2.title-devider {
  margin: 20px -105px 20px -65px;
  padding: 20px 105px 20px 65px;
  position: relative;
  }
  h2.title-devider:after {
  border-top: 33px solid transparent;
  border-bottom: 33px solid transparent;
  border-left: 33px solid #fff;
  border-right: 33px solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  }
   h2.title-devider:before {
  border-top: 33px solid transparent;
  border-bottom: 33px solid transparent;
  border-left: 33px solid transparent;
  border-right: 33px solid #fff;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  right: 0;
  top: 0;
  }
  label {
  font-weight: 100 !important;
  font-family: 'TradeGothicNextW01-Bold 693229';
  font-size:14px;
  margin-top:20px;
  margin-bottom:5px;
  }
  .social-field {
  margin-left: 0px;
    img {
    float: left;  
    }
    .input-field {
    margin-left: 60px;
    margin-bottom: 25px;
    }
  }
  .btn-add-product {
  color: #fff;
  font-size: 16px;
  background: #55a5e0;
  display: inline-block;
  padding: 14px 20px;
  margin-right: 90px;
  }
  .btn-add-product:hover {
  color: #fff;
  text-decoration: none;
  }
  .justify-container {
  text-align: justify;
  }
  .justify-container:after {
  content: "";
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  }
  .justify-container * {
  display: inline-block;
  }
  .justify-container label {
  margin-left:5%;
  }
  .products-table{
    width:84%;
    margin-left:5%;
      tbody tr td:first-child {
      width: 150px;
      font-size: 12px;
      text-align: left;
      }
      tbody tr:first-child td {
      border-top: 0;
      }
      tbody tr td {
      vertical-align: middle;
      background-color: transparent;
      word-wrap: break-word;
      max-width: 100px;
      font-size: 12px;
      text-align: justify;
      }
    }
  .controls {
    width: 80px;
    .delete-icon {
    color: #333;
    }
  }
  .btn-content {
    margin-top: 20px;
    margin-right: 105px;
    padding-left: 50px;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 100;
    .btn-cancel {
    margin-top: -5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    }
  }
  .has-feedback .form-control-feedback {
    width: 44px !important;
    height: 44px !important;
    line-height: 44px !important;
    position: absolute !important;
    top: 26px !important;
  }
  .has-success .control-label {
    color: #333;
    }
  .fields-group > div .row {
    margin-right: -11px;
    }
    .fields-group.address-field-group {
    margin-top: -10px;
    }
    .fields-group > div:last-child .row {
    margin-right: -15px;
    }
    .fields-group > div:first-child .row {
    margin-right: -11px;
    }
    .fields-group > div .row {
    margin-left: -15px !important;
    }
  
  .additional-contact {
    position: relative;
      .delete-contact {
      position: absolute;
      top: 40px;
      right: -30px;
      color: #333;
      }
  }
  .btn-additional-contact,
  .btn-manage {
  background: #4b9bd8;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  }
  .btn-additional-contact:hover,
  .btn-manage:hover {
  text-decoration: none;
  }
  .btn-additional-contact {
  padding: 15px;
  }
  .btn-manage {
  padding: 6px 12px;
  width: 200px;
  font-size: 18px;
  }
  .btn-manage:nth-child(2) {
  margin: 0 5px;
  }
  .btn-manage span {
  font-size: 12px;
  top: -2px !important;
  left: -5px !important;
  }
  .check-list {
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 30px;
  }
  .check-list:first-of-type {
    margin-top: 30px;
  }
  .checkbox {
    position: absolute;
    top: 0;
    right: 0;
  }
  #businessProfile {
    h4 {
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 55px;
    }
    .bordered-title {
    font-size: 21px;
    color: #ccc; 
    }
    .bordered-title span {
    background: #FFF;
    }
  }
  .form-group[data-type="department"],
  .form-group[data-type="location"] {
  display: none;
  }
  #businessUsers {
    .container form[role="form"] {
    padding-right: 10px;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select.form-control,
    .dropdown .dropdown-toggle {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    height: 47px;
    line-height: 47px;
    border: 0;
    }
    .dropdown {
      .dropdown-toggle {
      width: 100%;
      line-height: 10px;
      padding-right: 33px;
      }
      .dropdown-toggle:hover,
      .dropdown-toggle:focus {
      outline: 0;
      }
      .dropdown-toggle .text-danger {
      color: #fd1900;
      }
      .dropdown-toggle .text-success {
      color: #25b300;
      }
      .dropdown-toggle .caret {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -2px;
      border-top: 7px solid #aaa;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      }
      .dropdown-toggle .caret:after {
      content: "";
      display: block;
      border: 7px solid transparent;
      border-top: 7px solid #fff;
      position: absolute;
      left: 50%;
      margin-left: -7px;
      top: -10px;
      }
    }
    .dropdown-toggle:hover,
    .dropdown-toggle:focus,
    .dropdown-toggle:active,
    .dropdown.open .dropdown-toggle {
    background: #fff;
    }
    .form-group > .pwd-content {
    margin-right: -12px;
    margin-left: 0;
    }
    .fields-group > div .row {
    margin-right: -11px;
    }
  }
}
  .acct-settings > .content-right .bordered-block {
    -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
    -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
    box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
    border: 1px solid #aeaeae;
    font-family: 'Century Gothic W01';
    background-color: #FFF;
  }

@media (max-width: 500px) {
  .acct-settings #businessUsers .deletable div[class*="col-xs"] {
    width: 50%;
  }
}

.acct-settings{
  @media(max-width:2100px){
    .progress{
      margin-left: -13px;
    }
  }
  @media(max-width:1900px){
    label[for="newbusinessPswd"]{
      padding-left: 70px;
      margin-top: 10px;
    }
    label[for="businessConfirmPswd"]{
      margin-top: 10px;
      padding-left: 53px;
    }
  }


/* responsive account settings */
@media(max-width:922px){
  .progress{
     width: 100%;
     margin-left: 0;
  }
  .content-right .verification-center h2 {
    max-width: 320px;
    }
  .account-settings-slider{
        max-width:90%;
        #carousel-example-generic {
        width: 90%; 
        top:0px; 
        padding:0px; 
        left:0px; 
        height:120px; 
        }   
       #control-right{
        left:220px;
        } 
       #carousel-example-generic #logo-slide.img-responsive{
        max-width: 95px;
        height: 95px;
        }     
    }
} 
  .deletable {
    position: relative;
  }
  .item-delete, .item-save {
    position: absolute;
    top: auto;
    color: #333;
  }
  .item-delete{
    bottom: 31px;
    right: -50px;
  }
  .item-save{
    bottom: 33px;
    right: -25px;
  }
  .notifications-table{
    &.table-condensed {
      background: #f0f0f0;
      border: 5px solid #f0f0f0;
    }
    .table-condensed > tbody > tr > td, .table-condensed > thead > tr > th {
      padding: 10px 15px;
    }
    @media only screen and (min-width: 800px) {
      .table-condensed > thead > tr > th:first-child + th, .table-condensed > thead > tr > th:first-child, .table-condensed > tbody > tr > td:first-child + td, .table-condensed > tbody > tr > td:first-child {
        border-left: 0;
        border-right: 0;
      }
      .table-condensed > thead > tr > th {
        border-bottom: 0;
        padding-bottom: 25px;
        text-align: center;
      }
      .table-condensed > tbody > tr:first-child > td {
        border-top: 0;
      }
    }
    .gold {
      background-color: #f9f7dd;
    }
    @media only screen and (max-width: 800px) {
      #flip-scroll th, #flip-scroll td {min-height: 41px !important; text-align: center !important;}
      #flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
      #flip-scroll * html .cf { zoom: 1; }
      #flip-scroll *:first-child+html .cf { zoom: 1; }
      #flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
      #flip-scroll th,
      #flip-scroll td { margin: 0; vertical-align: top; }
      #flip-scroll th { text-align: left; }
      #flip-scroll table { display: block; position: relative; width: 100%; }
      #flip-scroll thead { display: block; float: left; }
      #flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
      #flip-scroll thead tr { display: block; }
      #flip-scroll th { display: block; text-align: right; }
      #flip-scroll tbody tr { display: inline-block; vertical-align: top; }
      #flip-scroll td { display: block; min-height: 1.25em; text-align: left; }

    /* sort out borders */
      #flip-scroll th { border-bottom: 0; border-left: 0; }
      #flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
      #flip-scroll tbody tr { border-left: 1px solid #babcbf; }
      #flip-scroll th:last-child,
      #flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }
    }
  }
}
.btn-additional-contact {
  background: #4b9bd8;
  display: inline-block;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    background-color: none;
    color:#fff;
  }
}

/*Business Profile Image Slider Acct Settings*/
.acct-settings {
  #businessProfile h4 {
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 30px;
  }
  #only-149 {
  position: relative;
  float: right;
  right: 70px;
  max-width: 60px;
  top: 10px;
  }
}
.account-settings-slider {
  #carousel-example-generic {
  max-width: 300px;
  min-width: 300px;
  min-height: 150px;
  max-height: 150px;
  position: relative;
  margin-top: 50px;
  left: 15px;
  }
  #logo-slide {
  padding: 5px;
  display: block;
  float: left;
  margin-top: 5px;
  border:5px #bbbbbb solid;
  }
  #logo-slide, .account-settings-slider img#logo-slide {
  min-width: 140px;
  max-width: 140px;
  max-height: 120px;
  min-height: 120px;
  }
  img#logo-slide:nth-child(2)   {
  margin-left:-5px;
  }
  #control-right, 
  #control-right span, 
  #control-left, 
  #control-left span, 
  .carousel-indicators li {
  display: none;
  }
}

#businessProfile {
  .btn-orange{
  font-size:16px;
  font-weight:100; 
  font-family: 'Century Gothic W01';
  min-width: 160px;
  max-width: 160px;
  max-height: 45px;
  min-height: 45px;
  margin-right: 110px;
  top: -35px;
  padding-top:10px;
  position: relative;
  }
  .btn-orange:hover{
  background-color:#d68222;
  }
}

/* account settings Busines Profile Account Logo Upload Styles*/

.acct-settings {
  .bordered-block {
    .messaging {
      padding: 5px 0;
      margin-bottom: 15px;
      max-width: 290px;
      cursor: pointer;
      li span {
      width: 50%;
      text-align: center;
      }
      span {
      background: #55a5e0;
      color: #fff;
      display: block;
      font-size: 16px;
      text-align: left;
      cursor: pointer;
      width: 100%;
      max-height: 45px;
      min-height: 45px;
      text-indent: 25%;
      }
      span:hover {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      }
       form#img-form {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer;
      }
    }
    .messaging > span {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    }
    .logo-img {
    margin-top: 0px;
    max-width: 230px;
    max-height: 180px;
    width: 100%;
    }
    .media-button img {
    display: block;
    float: left;
    position: absolute;
    cursor: pointer;
    top: 13px;
    left: 10px;
    }
    .media-button:hover {
    cursor: pointer;
    background-color: #3684BC;
    }
  }
}

/*cancel account modal */
#cancelModal {
  .modal-body{
    background-color:#F2F2F2;
    padding:15px;
    }
    .warningBox{
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    background-color:#FFF;
    border:1px solid red;
    height:52px;
    overflow:hidden; 
      .warningLeft{
      width:160px;
      height:50px;
       float:left; 
      }
      .warningRight{
      line-height:13px;
      padding-top:2px;
      height:50px;
      }
      h2{
      background-color:red;
      color:#FFF;
      font-size:20px;
      padding:15px 10px;
      float:left; 
      position:relative;
      top:-20px; 
      font-weight:300;
      height:50px;
      }
      p{
      font-size:12px;
      color:#000; 
      }
    }
    a:hover{
    text-decoration:none;
    }
  .modal-footer .btn-save{
  background-color:red;
  }
  .modal-footer .btn-save,
  .modal-footer .close-panel.btn-cancel {
  height: 42px;
  font-weight: 400;
  padding:8px 20px;
  }
  .modal-title{
  font-size:14px;
  }
}
@media (max-width: 500px) {
  #cancelModal {
    .modal-body {
    background-color: #F2F2F2;
    padding: 15px;
    }
  .warningBox {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 70px;
    overflow: hidden;
    .warningLeft {
    width: 100px;
    height: 70px;
    float: left;
        display:none;
    }
    .warningRight {
    line-height: 11px;
    padding-top: 2px;
    height: 70px;
    }
     h2 {
    background-color: red;
    color: #FFF;
    font-size: 11px;
    padding: 15px 10px;
    float: left;
    position: relative;
    top: -20px;
    font-weight: 300;
    height: 70px;
    }
    p {
    font-size: 10px;
    color: #000;
    line-height: 10px;
    text-indent: 0px;
    }
  }
    .modal-footer {
      .btn-save, .close-panel.btn-cancel {
    height: 40px;
    font-weight: 300;
    padding: 8px 20px;
    width: 100%;
    font-size: 12px;
    }
  }
    .modal-title {
    font-size: 12px;
    }
  }
}
@media (max-width: 380px) {
  #cancelModal {
    .warningBox {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 100px;
    }
    .warningLeft {
    height: 100px;
    width: 95px;
    float: left;
    }
    .warningRight {
    line-height: 11px;
    padding-top: 2px;
    height: 100px;
    }
    h2 {
    color: #FFF;
    font-size: 10px;
    height: 100px;
    }
    p {
    font-size: 9px;
    line-height: 10px;
    text-indent: 0px;
    }
     .modal-footer {
      .btn-save, .close-panel.btn-cancel {
      height: 40px;
      font-weight: 400;
      padding: 8px 20px;
      width: 100%;
      font-size: 12px;
      }
      }
      .modal-title {
      font-size: 12px;
      }
  }
}

.tourPopup{
width:100%;
max-width:460px;
height:120px;
padding:0px 16px;
margin:25px;
background-color:white;
border:1px solid #D4D4D4;
position:absolute;
right:-30px;
top:56.5%;
    h3{
    font-size:16px;
    font-weight:300;
    }
      img{
    position:relative;
    bottom:5px;
    }
}

/* new code for progress bar */
.acct-settings {
  .row:nth-child(1) {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  border: 1px solid #aeaeae;
  font-family: 'Century Gothic W01';
  background-color: #FFF;
  padding: 15px;
  max-height: 280px;
  width: 105.5%;
  margin-left: -20px;
  padding-bottom: 50px;
  margin-top: 20px;
  }
  #businessContact {
    margin-left: 45px !important;
      h2 {
      margin-top: 50px !important;
      }
       .row {
      background: none !important;
      box-shadow: none !important;
      border: 0px !important;
      margin: 0px !important;
      max-width: 100% !important;
      padding: 0px !important;
      }
      .fields-group.address-field-group {
      margin-top: 10px;
      margin-left: -15px;
      }
      .contact-info {
      margin-left: -20px;
      -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      border: 1px solid #aeaeae;
      background-color: #FFF;
      font-family: 'Century Gothic W01';
      width: 100%;
      padding: 20px !important;
      padding-top: 0px !important;
      margin-top: 60px !important;
      }
      .col-xs-12.contact-info h2{
      margin-top:-25px !important; 
      position: relative;
      left:-20px;
      top:-20px !important; 
      }
      form input,
      form textarea {
      border: 1px solid #aeaeae;
      position: relative;
      color:#9d9d9d;
      width: 98%;
      }
      .has-feedback .form-control-feedback {
      width: 44px;
      height: 44px;
      line-height: 44px;
      position: absolute !important;
      top: 30px !important;
      right: 100px !important;
      }
      div:nth-child(4)  div.col-sm-9  span {
      margin-top:20px;
      }
      div:nth-child(4)  div.col-sm-3   {
      margin-top:0px;
      margin-left:-25px;
      }
      form textarea {
      border: 1px solid #aeaeae;
      min-height: 80px;
      }
      form .col-sm-3{
      width: 20% !important;
      position:relative;
      }
      form .col-sm-9 {
      margin-left:-15px;
      }
    } //business contact
  .progress.active .progress-bar {
  position: absolute;
  max-height: 30px;
  z-index: 1000;
  border-radius: 8px;
  max-width: 100%;
  top: 85px;
  left: 15px;
  }
  .progress {
  background: none;
  }
  #businessProfile {
    form:nth-child(2) {
    max-width: 230px;
    background: none;
    }
    .col-xs-12 {
      form:nth-child(3) {
      -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      border: 1px solid #aeaeae;
      background-color: #FFF;
      padding: 20px;
      }
      form:nth-child(3) .form-group {
      width: 85%;
      margin-left: 20px;
      }
      form input, form textarea {
      border: 1px solid #dfdfdf;
      color:#9d9d9d;
      }
      form textarea {
      min-height: 80px;
      }
    }
  }
}


/*new code for account settings contacts*/
.acct-settings {
  .contacts-table {
  width: 98%;
  margin: 2px;
  border-radius: 0;
  font-family: 'Century Gothic W01';
  background-color: #FFF;
  }
  .contacts-table td {
  background-color: transparent;
  padding-top: 10px;
  }
  .user-content:nth-child(2),  
  .user-content.employeeHistory {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  border: 1px solid #aeaeae;
  background-color: #FFF;
  margin: 20px 0px 0px 10px;
  }
  .user-content.employeeHistory .col-sm-2 .form-group .row{
   min-width:200px !important;
  } 
  .user-content.employeeHistory {
  padding:25px;
  padding-left:50px;
  }
  .relative-top .btn-default {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
  border: 1px solid #aeaeae;
  background-color: #FFF;
  font-family: 'Century Gothic W01'; 
  font-size: 15px;
  }
  .user-content.current-users {
  padding: 25px;
  }
  .user-content {
    .manage-actions {
      .btn-approve,
      .btn.btn-reject {
      max-width: 100px;
      min-width: 100px;
      }
      .col-sm-2.row, 
      .col-sm-2  {
      margin-left: -151px;
      width: 70px;
      }
      .btn-approve{
      position:relative;
      top: -15px;
      right:-45px;
      }
    }
  }
  .user-content.current-users .row,
  .user-content .row {
  height: 15px;
  max-width: 55%;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  }
}

/* cancel account*/
#businessCancel p, #businessCancel a{
    font-size: 18px;
    margin-top:20px;
}

/*START NEW ACCOUNT SETTINGS RESPONSIVE HERE */
@media (max-width: 992px) {
  .account-settings-slider #carousel-example-generic {
    margin-left: 0px;
  }
  .acct-settings {
    #businessContact .has-feedback .form-control-feedback {
    top: 20px !important;
    right: 50px !important;
    }
    #businessProfile {
      h4 {
      font-size: 14px;
      position: absolute;
      top: 0px;
      left: 15px;
      }
      .col-xs-12 form:nth-child(3) .form-group {
      width: 95%;
      margin-left: 20px;
     }
      .content-right .bordered-block {
      width: 94%;
      }
      .col-xs-12 form:nth-child(3) {
      width: 91.5%;
      }
    }
    #only-149 {
    position: relative;
    float: right;
    right: 15px;
    max-width: 40px;
    bottom: 0px;
    }
    .account-settings-slider #carousel-example-generic {
    width: 90%;
    top: 0px;
    padding: 0px;
    left: 0px;
    height: 120px;
    }
    .progress.active .progress-bar {
    position: absolute;
    top: 110px !important;
    left: 15px;
    }
    input,
    textarea {
    font-size: 12px !important;
    min-height: 35px !important;
    }
    .sidebar {
      width: 22%;
      .nav li a {
      line-height: 12px;
      font-size: 12px;
      margin: 0;
      margin-top: 30px;
      }
      .nav li.active a {
      font-size: 12px;
      line-height: 12px;
      }
    }
    .btn-add-product {
    font-size: 12px;
    padding: 12px 16px;
    margin-right: 0px;
    }
    #businessProfile .btn-orange {
    margin-right: 0px;
    top: -35px;
    padding-top: 10px;
    position: relative;
    }
    #businessOrganization {
      .row {
      -webkit-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      -moz-box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      box-shadow: 1px 1px 2px 1px rgba(174, 174, 174, 0.9);
      border: 1px solid #aeaeae;
      }
      .col-sm-3 .form-control {
      width: 140px;
      border: 1px solid #e1e1e1;
      padding-top: 10px;
      margin-right: 5px;
      }
      .col-sm-5 .form-control {
      min-width: 200px;
      border: 1px solid #e1e1e1;
      padding-top: 10px;
      margin-left: 5px;
      }
      .col-xs-2 .form-control {
      font-weight: bolder;
      text-align: center;
      padding-top: 10px;
      height: 41px;
      width: 100px;
      border: 1px solid #e1e1e1;
      margin-left: -75px;
      }
      .current-users {
        .col-sm-3 .form-control {
        margin-left: -20px;
        }
        .col-sm-5 .form-control {
        margin-left: -10px;
        }
        .col-xs-2 .form-control {
        margin-left: -22px;
        }
        .manage-actions .btn-edit {
        background-color: #b6b6b6;
        margin-top: 15px;
        color: white;
        left: 75px;
        position:relative;
        width: 60px;
        }
        .item-delete {
        right: -5px;
        top: 25px;
        }
      }
      .manage-actions {
        .btn-reject,
        .btn-edit,
        .btn-approve {
        border: 1px solid #aeaeae;
        font-size: 11px;
        height: 41px;
        padding-right: 0px;
        }
        .btn-approve {
        margin-left: 35px;
        }
        .btn-reject {
        background-color: #b6b6b6;
        margin-left: 80px;
        }
      }
    }
    .notification {
    padding: 30px;
    font-size: 20px;
    width: 88%;
    }
    .verification-center {
        width: 90%;
       .price-info > img {
        width: 30%;
        margin: 10px;
        }
        h2 {
        margin-top: -55px;
        left: 0px;
        position: absolute;
        }
      }
    #businessContact .contact-info,
    .passwordReset form,
    .support form {
    width: 92%;
    }
    .cancel {
    width: 90%;
    }
    .content-right {
    margin-top: -580px;
    }
    .price-table-container {
      position: relative;
      left: -45px;
      #under-text {
      font-size: 10px;
      line-height: 8px;
      }
      tr#empty p {
      font-size: 16px;
      }
      table th {
      font-size: 12px;
      }
      table td {
      max-width: 85px;
      }
      p#text {
      font-size: 10px;
      }
       .btn-warning,
      .btn-primary,
      .btn-success {
      font-size: 10px;
      max-width: 80%;
      font-weight: bold;
      width: 100px;
      background-image: none;
      padding: 3px 4px;
      border: none;
      top: -10px;
      position: relative;
      }
    }
    #businessOrganization .content-right {
    width: 82%;
    top: -40px;
    left: 160px;
    position: relative;
    }
}
    .acct-settings > .row {
    padding: 15px;
    max-height: 280px;
    margin-left: -20px;
    padding-bottom: 50px;
    margin-top: 20px;
    position: relative;
    right: -20px;
    width: 128%;
  }
}

@media (max-width: 800px) {
   .acct-settings .content-right {
    margin-bottom: 0px;
    width: 90%;
    margin-top: -40px;
    margin-left: 20%;
    position: initial;
  }
  .acct-settings #businessOrganization .content-right {
    width: 82%;
    top: -40px;
    left: 10px;
    position: relative;
  }
  .acct-settings .sidebar {
    top: 190px;
    float: left;
    position: absolute;
    width: 50%;
  }
  .acct-settings .sidebar .nav li a {
    font-size: 12px;
    width: 100%;
    margin-left: -10px;
  }
  .account-settings-slider #carousel-example-generic {
    max-width: 200px;
    min-width: 200px;
    min-height: 100px;
    max-height: 100px;
    position: relative;
    margin-top: 50px;
    left: 15px;
  }
  .account-settings-slider #logo-slide {
    padding: 5px;
    display: block;
    float: left;
    margin-top: 5px;
    border: 5px #bbbbbb solid;
  }
  .account-settings-slider #logo-slide,
  .account-settings-slider img#logo-slide {
    min-width: 100px;
    max-width: 100px;
    max-height: 90px;
    min-height: 90px;
  }
  .account-settings-slider img#logo-slide:nth-child(2) {
    margin-left: -5px;
  }
  #businessProfile .btn-orange {
    font-size: 14px;
    min-width: 140px;
    max-width: 140px;
    max-height: 35px;
    min-height: 35px;
    margin-right: 35px;
    top: -22px;
    padding-top: 6px;
    position: relative;
  }
  .acct-settings .progress.active .progress-bar {
    max-width: 95%;
  }
  .acct-settings input,
  .acct-settings textarea {
    font-size: 12px !important;
    min-height: 35px !important;
  }
  .acct-settings #businessProfile .col-xs-12 form textarea {
    font-size: 12px;
  }
  .acct-settings #only-149 {
    position: relative;
    float: right;
    right: -5px;
    max-width: 60px;
    top: -5px;
  }
}
@media (max-width: 635px) {
  .acct-settings {
    #businessProfile {
      .btn-orange {
      font-size: 12px;
      margin-left: -60px;
      margin-top: -20px;
      }
      h4 {
      font-size: 12px;
      position: absolute;
      top: 0px;
      left: 175px;
      }
      #only-149 {
      position: absolute;
      float: right;
      right: 35px;
      max-width: 40px;
      }
    }
  }
}
@media (max-width: 525px) {
  .acct-settings #businessProfile .btn-orange {
    font-size: 11px;
    margin-left: -80px;
    height: 25px;
    margin-top: -25px;
  }
  .acct-settings #businessProfile h4 {
    top:-40px;
    left:150px;
  }
  .acct-settings #businessProfile #only-149 {
    position: absolute;
    float: right;
    right: -45px;
    top:195px;
    max-width: 40px;
  }
}
@media (max-width: 455px) {
  .acct-settings #businessProfile .btn-orange {
    font-size: 11px;
    margin-left: -30px;
    height: 25px;
    margin-top: 215px;
  }
}

@media (max-width: 360px) {
  .acct-settings #businessProfile .btn-orange {
    font-size: 11px;
    margin-left: -65px;
    height: 25px;
    margin-top: 210px;
  }
}


/*new responsive for account settings*/
/*new responsive for account settings*/
@media (max-width: 767px) {
  .acct-settings {
    margin-top: 50px;
  }
  .acct-settings .progress,
  .acct-settings .row:nth-child(1) {
    display: none;
  }
  .acct-settings h2 {
    display: none;
  }
  .acct-settings .form-control {
    font-size: 12px;
  }
  .acct-settings .form-control label {
    font-size: 12px;
  }
  .acct-settings input[type="text"] {
    font-size: 12px;
    height: 40px;
  }
  .acct-settings .social-field img {
    width: 30px;
  }
  .acct-settings .btn-add-product {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  .acct-settings .justify-container label {
    font-size: 0px;
  }
  .acct-settings .btn-content {
    margin-top: 0px;
    margin-right: 0px;
    padding: 0px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 100;
  }
  .acct-settings .btn-content .btn-save,
  .acct-settings .btn-content .btn-cancel {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    height: 40px;
  }
  .acct-settings .modal .row:nth-child(1) {
    display: block;
  }
  .acct-settings #addProduct .btn-cancel {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  .acct-settings .products-table tbody tr td {
    vertical-align: middle;
    background-color: transparent;
    word-wrap: break-word;
    width: 100%;
    font-size: 12px;
    text-align: left;
    line-height: 13px;
    border: 0;
  }
  .acct-settings .products-table tbody tr td:first-child {
    min-width: 100%;
    position: absolute;
    left: 30px;
    margin-top: -15px;
    font-size: 11px;
    border: 0;
    text-align: left;
  }
  .acct-settings .notification-setting table {
    margin-top: 0px;
  }
  .acct-settings p.bordered-title.borderless span {
    font-size: 14px;
  }
  .acct-settings .products-table tbody .controls li:nth-child(2) {
    position: absolute;
    right: 15%;
  }
  .acct-settings .products-table tbody .controls li:nth-child(1) {
    position: absolute;
    right: 24%;
  }
  .acct-settings .col-xs-12 {
    min-width: 100%;
    margin-top: -50px;
    padding-left: 20px;
  }
  .acct-settings .verification-center.col-xs-12 {
    min-width: 100%;
    margin-top: -50px;
    margin-left: -15px;
  }
  .acct-settings #businessProfile .col-xs-12 form:nth-child(3) {
    min-width: 105% !important;
    margin-left: -20px;
    margin-top: -15px;
  }
  .acct-settings .col-xs-12.notification {
    margin-top: -105px;
    left: -10px;
  }
  .acct-settings #businessContact .contact-info,
  .acct-settings .passwordReset form,
  .acct-settings .support form {
    min-width: 105%;
    margin-left: -20px;
    margin-top: 0px;
  }
  .acct-settings .col-sm-3 {
    display: none;
  }
  .acct-settings h4 {
    font-size: 15px;
    text-indent: 20px;
  }
  .acct-settings .sidebar {
    padding-right: 0;
    width: 100%;
    position: relative;
    top: 0px !important;
    padding-left: 0;
  }
  .acct-settings .acct-settings-nav .btn.btn-primary.dropdownButton {
    top: -45px;
    height: 45px;
    width: 100%;
    font-size: 14px;
    position: relative;
    background-color: #292929;
    border: #292929 2px solid;
    z-index: 100;
  }
  .acct-settings .acct-settings-nav .dropdown-menu {
    background-color: transparent;
    border: none;
    box-shadow: none;
    min-width: 100%;
    top: -10px;
  }
  .acct-settings .sidebar .nav a {
    color: #333;
    background-color: #F0F0F0;
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 15px 10px;
  }
  .acct-settings .sidebar .nav li {
    width: 100%;
    background-color: #DFDFDF;
  }
  .acct-settings .sidebar .nav li a {
    line-height: 16px;
    margin-left: 0px;
    margin-top: 1px;
    z-index: 100;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 0;
  }
  .acct-settings .sidebar .nav li.active a {
    background: #f0f0f0;
    border-radius: 0;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    color: #333;
  }
  .acct-settings .sidebar .nav li.verifyChild {
    padding-left: 20px;
  }
  .acct-settings .sidebar .nav li.active a:after {
    display: none;
  }
  .acct-settings .content-right {
    min-height: 900px;
  }
  .acct-settings .bordered-block img.logo-img {
    margin-top: 0px;
  }
  .acct-settings .bordered-block .messaging .media-button {
    font-size: 12px;
    cursor: pointer;
  }
  .acct-settings .bordered-block .col-sm-5 {
    width: 40%;
    float: left;
  }
  .acct-settings .fields-group > div:first-child .row,
  .acct-settings .fields-group > div .row {
    margin-right: -15px;
    margin-bottom: 5px;
  }
  .acct-settings h2.title-devider {
    margin: 20px -60px 20px -50px;
    padding: 20px 60px 20px 50px;
  }
  .acct-settings .content-right {
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
  }
  .acct-settings .push-right {
    -moz-transform: translate(25rem, 0);
    -ms-transform: translate(25rem, 0);
    -webkit-transform: translate(25rem, 0);
    -moz-transform: translate3d(25rem, 0, 0);
    -webkit-transform: translate3d(25rem, 0, 0);
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
  }
  .acct-settings .account-settings-slider {
    float: right;
  }
  .acct-settings .account-settings-slider #control-right {
    left: 175px;
    top: 65px;
  }
  .acct-settings .account-settings-slider #control-left {
    margin-top: -40px;
  }
  .acct-settings .account-settings-slider #carousel-example-generic #logo-slide.img-responsive {
    max-width: 80px;
    height: 80px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .acct-settings .account-settings-slider #carousel-example-generic {
    width: 180px;
    height: 90px;
    position: absolute;
    top: 0px;
    left: 50%;
    padding: 0px;
  }
  .acct-settings .account-settings-slider #only-149 {
    max-width: 20px;
    top: -35px;
  }
  .acct-settings .btn-orange {
    position: absolute;
    font-size: 10px;
    top: 145px;
    left: 320px;
  }
  .acct-settings .logo-suggestion,
  .acct-settings .logo-img,
  .acct-settings .upload-logo {
    margin-left: auto;
    margin-right: auto;
  }
  .acct-settings .upload-logo {
    max-width: 234px;
  }
  .acct-settings label[for="newbusinessPswd"],
  .acct-settings label[for="businessConfirmPswd"] {
    padding-left: 15px;
  }
  .acct-settings .btn-manage {
    width: 100%;
  }
  .acct-settings .form-group > .pwd-content {
    margin-right: 0;
  }
  .acct-settings .form-group > .retypepwd-content {
    margin-left: 0;
  }
  .acct-settings .item-delete {
    right: 10px;
    bottom: 40px;
  }
  .acct-settings .item-save {
    right: 40px;
    bottom: 230px;
  }
  .acct-settings .deletable {
    background: #e9e9e9;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .acct-settings #businessContact .has-feedback .form-control-feedback {
    top: 20px !important;
    right: 0px !important;
  }
  .acct-settings #businessContact .btn-additional-contact {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  .acct-settings .contacts-table td {
    font-size: 12px;
  }
  .acct-settings .row:nth-child(1) {
    padding: 0px;
    max-height: 280px;
    width: 100%;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
  .acct-settings #businessContact .contact-info {
    left: -25px;
    top: -45px;
    margin-top: 0px !important;
    min-width: 107.5%;
  }
  #addContacts .modal-body .col-xs-3 {
    width: 100%;
    margin-left: -10px;
  }
  #addContacts .btn-cancel,
  #addContacts .btn.btn-submit {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  .acct-settings #addContacts .controls .delete-icon {
    position: absolute;
    right: 20px;
    margin-top: -10px;
  }
  .acct-settings #businessMemberships {
    margin-left: 40px;
  }
  .acct-settings #verifyCenter .verification-center img.lady {
    display: none;
  }
  .acct-settings #verifyCenter .verification-center .list {
    margin-left: 5%;
    margin-top: 0px;
  }
  .account-settings-portlet #verifyCenter .verification-center .price-info img {
    display: none;
  }
  .account-settings-portlet #verifyCenter .verification-center p#oneTime {
    font-size: 12px;
    margin-top: 30px;
    margin-left: 0px;
    line-height: 12px;
  }
  .acct-settings #verifyCenter .verification-center .price-info span {
    top: -50px;
    left: -105px;
  }
  .account-settings-portlet #verifyCenter .verification-center .price-info p {
    font-size: 24px;
    position: absolute;
    top: -20px;
    right: 15px;
  }
  .acct-settings .sidebar .nav li:nth-child(4) {
    display: none;
  }
    .account-settings-portlet #verifyCenter .verification-center p#oneTime{
    font-size:8px;
    width:100%;
  }
}
@media (max-width: 650px) {
  .acct-settings h4 {
    font-size: 12px;
    text-indent: 0px;
  }
  .acct-settings .bordered-block .messaging .media-button {
    font-size: 10px;
    cursor: pointer;
    text-align: left;
    padding: 6px;
  }
  .acct-settings .account-settings-slider #carousel-example-generic {
    margin-left: 0px;
    width: 150px;
    height: 90px;
    position: absolute;
    top: -15px;
    left: 50%;
    padding: 0px;
  }
  .acct-settings .account-settings-slider #logo-slide:nth-child(2) {
    display: none;
  }
  .acct-settings .account-settings-slider #logo-slide.img-responsive {
    min-width: 130px;
    max-width: 130px;
    height: 90px;
    margin-left: 25px;
    margin-top: 0px;
  }
  .acct-settings .account-settings-slider img#only-149 {
    position: relative;
    float: right;
    right: 0px;
    max-width: 20px;
    bottom: 40px;
  }
  .acct-settings .account-settings-slider #control-right,
  .acct-settings .account-settings-slider #control-left {
    display: none;
  }
  .acct-settings #businessProfile .btn-orange {
    font-size: 10px;
    left: 265px;
    margin-top: -45px;
    height: 25px;
    padding: 5px;
    position: absolute;
  }
  .acct-settings .verification-form img.img-man {
    display: none;
  }
}
@media(max-width:525px){
  .acct-settings #businessProfile .col-xs-12 form:nth-child(3) {
    min-width: 108% !important;
  }
  .acct-settings #businessContact .contact-info {
    min-width: 112%;
}
.acct-settings #businessContact .contact-info, 
.acct-settings .passwordReset form, 
.acct-settings .support form {
    min-width: 108%;
}
}
@media(max-width:420px){
  .acct-settings #businessProfile .col-xs-12 form:nth-child(3) {
    min-width: 111% !important;
  }
    .acct-settings #businessContact .contact-info {
    min-width: 115%;
}
.acct-settings #businessContact .contact-info, 
.acct-settings .passwordReset form, 
.acct-settings .support form {
    min-width: 112%;
}
}
